In [ ]:
[m for m in dir(data)if "__" not in m]

In [1]:
import pprint
from typing import Dict,Union
key = Union[int,str]
value = Union[str,int ,tuple, list]

data: Dict[str,str] = {
    "fname":"umiar",
    "lastname":"khan",
    "edu":"bscs"
}
[m for m in dir(data)if "__" not in m]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [12]:

from typing import Dict,Union
key = Union[int,str]
value = Union[str,int ,tuple, list]

data: Dict[str,str] = {
    "fname":"umiar",
    "lastname":"khan",
    "edu":"bscs"
}
#print(data["named"]) #it will return a error bcz dont have that key and cause the error
#to avoid error .get method 

print(data.get("names","not available"))

not available

In [17]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str] # create custom type
Value = Union[int, str, list, dict, tuple, set]

data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"}


print(data.keys()) # keys
print(data.values()) # values
print(data.items())

for k,v in data.items():
    print(k,v)

fname Muhammad Aslam
name Muhammad Qasim
education MSDS

In [26]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str] # create custom type
Value = Union[int, str, list, dict, tuple, set]

data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"}


print(data.setdefault("age","25")) 
print(data)
print(data.pop("age")) #popping the key that you insert

print(data.popitem()) #popout nd key value pair
print(data)# keys

25
{'fname': 'Muhammad Aslam', 'name': 'Muhammad Qasim', 'education': 'MSDS', 'age': '25'}
na
{'fname': 'Muhammad Aslam', 'name': 'Muhammad Qasim', 'education': 'MSDS', 'age': '25'}

#Update method

In [27]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str] # create custom type
Value = Union[int, str, list, dict, tuple, set]

data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"}


data1: dict[key,value] = {"fname":"uk",
                         "age":27,
                         "city": "fsd"}
data.update(data1)
data

{'fname': 'uk',
 'name': 'Muhammad Qasim',
 'education': 'MSDS',
 'age': 27,
 'city': 'fsd'}

In [29]:
import pprint
import pandas as pd
from typing import Any

student_data: Dict[str,list[Any]] = {"roll_no":[1,2,3],
                                     "Name":["uk","manto","kalo"],
                                     "age":[3,3,3]}
data: pd.DataFrame= pd.DataFrame(student_data)
data

   roll_no   Name  age
0        1     uk    3
1        2  manto    3
2        3   kalo    3

#convert to json

In [34]:
import pandas as pd
import json #this json
import pprint
from typing import Any

student_data: Dict[str,list[Any]] = {"roll_no":[1,2,3],
                                     "Name":["uk","UMAIR","kalo"],
                                     "DEGREE":["BS","bscs","BSIT"]}
data = json.dumps(student_data ,indent=1)
pprint.pprint(data)
print(type(data))

('{\n'
 ' "roll_no": [\n'
 '  1,\n'
 '  2,\n'
 '  3\n'
 ' ],\n'
 ' "Name": [\n'
 '  "uk",\n'
 '  "UMAIR",\n'
 '  "kalo"\n'
 ' ],\n'
 ' "DEGREE": [\n'
 '  "BS",\n'
 '  "bscs",\n'
 '  "BSIT"\n'
 ' ]\n'
 '}')
<class 'str'>